[submodule "dependencies/CDO-Shapes-Example"]
	path = dependencies/CDO-Shapes-Example
	url = https://github.com/Cyber-Domain-Ontology/CDO-Shapes-Example.git
	branch = main
[submodule "dependencies/UCO"]
	path = dependencies/UCO
	url = https://github.com/ucoProject/UCO.git
	branch = master
